[color]
        ui = true
[alias]
        co = checkout
        graph = log --graph -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
        st = status
        br = branch
